body {
	background-image: linear-gradient(to bottom right, purple, orange);
	background-repeat: no-repeat;
}
.sect1 {
	flex: 1 1 50%;
	border: 10px double white;
	border-radius: 20px;
	outline: 5px ridge gray;
	text-align: center;
	background-color: rgba(50%, 50%, 50%, 50%);
	margin: 80px 70px 80px 70px;
	padding: 20px;
}

.sect1 > h1 {
	font-size: 50px;
	color: white;
	border: 5px dashed white;
	padding: 10px;
	margin-left: 25%;
	margin-right: 25%;
}

.sect2 {
	text-align: center;
	margin: 30px;
}

.sect1 > div.img {
	border: 5px solid white;
	width: fit-content;
	height: fit-content;
	margin: 30px;
	padding: 10px;
	display: inline-block;
}
.sect1 > p {
	font-family: "Book Antiqua";
	font-size: 16px;
	color: white;
}

.sect2 > p {
	border: 10px solid white;
	font-weight: bold;
	font-size: 20px;
	color: white;
	padding: 20px;
	text-align: center;
	background-color: rgba(0, 0, 100, 50%);
	text-decoration: none;
}

a {
	text-decoration: none;
}

div.bodyboxes {
	display: flex;
	flex: row wrap;
	align-items: center;
	justify-content: space-around;
}

div.bodyboxes > div {
	align-self: center;
	flex-shrink: 0;
}